!!! XML
!!!

%html

  #mainframe

    = `haml header.haml`

    = `haml menu.haml`

    .content
      :markdown
        # Contact

        We will soon have a mailing list up and running.

        Issue tracking is handled on our [github
        project](http://github.com/esl/erlang-embedded)

    = `haml footer.haml`
