!!! XML
!!!

%html

  #mainframe

    = `haml header.haml`

    = `haml menu.haml`

    .content
      :markdown
        # Contact

        ## Mailing list
        We have a mailing list set up for ease of communication. Go to [Google
        groups](http://groups.google.com/group/erlang-embedded) to read the
        archives or subscribe. Once you have become a member of the group, you
        can send e-mails to erlang-embedded@googlegroups.com.

        ## Issues and bug tracking
        Issue tracking is handled on our [github
        project](http://github.com/esl/erlang-embedded).

    = `haml footer.haml`
