!!! XML
!!!

%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Embedded Erlang &mdash; Contact
    = `haml head.haml`
  %body
    #mainframe
      = `haml header.haml`
      = `haml menu.haml`

      .content
        :markdown
          # Contact

          ## Mailing list

          If you have any questions, feel free to join our mailing
          list and post them to erlang-embedded@googlegroups.com. You
          need to be subscribed to post; sign up for the mailing list
          [here](http://groups.google.com/group/erlang-embedded/subscribe).
          (Note: you need a Google account to join the group.)

          Anyone can read the archives online at [our Google Groups
          page](http://groups.google.com/group/erlang-embedded).

          ## Issues and bug tracking

          If you find a bug or want to request some new feature, use the
          [issue tracker](http://github.com/esl/erlang-embedded/issues)
          on our Github page.

      = `haml footer.haml`
