!!! XML
!!!

%html

  #mainframe

    = `haml header.haml`

    = `haml menu.haml`

    .content
      :markdown
        # Downloads

        Here we will soon release our image for public download.

        The source code used to produce the above releases will be upploaded to
        our github repository [github
        repository](http://github.com/esl/erlang-embedded) within the following
        weeks..

    = `haml footer.haml`
