!!! XML
!!!

%html

  #mainframe

    = `haml header.haml`

    = `haml menu.haml`

    .content
      :markdown
        # Downloads

        These packages are available for download:

        * [erlang-embedded-core-VERSION](pointmesomewhere)

        The source code used to produce the above releases are in our
        [github repository](http://github.com/esl/erlang-embedded).

    = `haml footer.haml`
