!!! XML
!!!

%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Embedded Erlang &mdash; Downloads
    = `haml head.haml`
  %body
    #mainframe
      = `haml header.haml`
      = `haml menu.haml`

      .content
        :markdown
          # Downloads

          These are the releases available for download. You will find
          the newest releases at the top. The tarballs contain
          pre-built packages, see the [getting started](start.html)
          page for more information.

        %table.releases

          %tr
            %th Release name
            %th Release date

          %tr
            %td
              %a{:href=>"http://github.com/downloads/esl/erlang-embedded/erlang-embedded-stag-beetle.tar.bz2"}
                erlang-embedded-stag-beetle.tar.bz2
            %td 2010-06-09

        :markdown
          The source code used to produce the above releases will be uploaded to
          our [github repository](http://github.com/esl/erlang-embedded) within
          the following weeks.

      = `haml footer.haml`
