!!! XML
!!!

%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Embedded Erlang &mdash; Downloads
    = `haml head.haml`
  %body
    #mainframe
      = `haml header.haml`
      = `haml menu.haml`

      .content
        :markdown
          # Downloads

          These are the releases available for download.

          * [Stag beetle](http://github.com/downloads/esl/erlang-embedded/erlang-embedded-stag-beetle.tar.bz2)

          The source code used to produce the above release will be uploaded to
          our [github repository](http://github.com/esl/erlang-embedded) within
          the following weeks.

      = `haml footer.haml`
