!!! XML
!!!

%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Embedded Erlang &mdash; Home
    = `haml head.haml`
  %body
    #mainframe
      = `haml header.haml`
      = `haml menu.haml`

      .content
        .leftbox
          :markdown
            # Home

            Erlang-embedded is a platform for developing embedded Erlang
            applications. The project started as a collection of thesis
            projects at [Uppsala University](http://www.it.uu.se),
            under the supervision of
            [Erlang Solutions](http://www.erlang-solutions.com).

            Our goal is to provide developers with an operating system
            distribution and an Erlang release, ready to be installed on
            an embedded device to reduce the time needed to setup a
            development environment.

            The easiest way to get started is to visit the
            [getting started](start.html) page.

        .rightbox
          .mailinglist
            :markdown
              [![envelope](images/internet-mail.png) Click here to subscribe
              to our mailing list](http://groups.google.com/group/erlang-embedded/subscribe)

          .box
            %img{:src=>"esl-logo.png", :alt=>"Erlang Solutions Ltd. logo", :width=>"150px"}
            :markdown
              erlang-embedded is a project by
              [Erlang&nbsp;Solutions&nbsp;Ltd.](http://www.erlang-solutions.com)

      = `haml footer.haml`
