body {
    background-color: #F0F0F0;
    margin: 20px 20px 0px 20px ;
    height:100%;
}

a, a:visited, a:active {
    color: #0000FF;
}

#mainframe {
    width: 800px;
    border: 1px solid #B8B8B8;
    float: left;
    background-color: #FFFFFF;
    position: relative;
    left: 50%;
    margin-left: -400px;
    padding: 10px;
    min-height:100%;
}

.logo {
    width: 750px;
    font-family: Verdana;
    font-size: 32px;
    margin-left: 25px;
    margin-bottom: 4px;
}

.logo a {
    text-decoration: none;
    color: black;
}

.menu {
    margin-left: 20px;
    float: left;
}

.menu ul {
    margin-top: 5px;
    padding: 0px;
    color: #000000;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    list-style-type: none;
}

.menu ul li {
    display: inline;
}

.menu ul li a, .menu ul li a:visited, .menu ul li a:active {
    padding: 5px;
    border: 0px;
    text-decoration: none;
    margin-right: 15px;
    float: left;
    color: #404040;
    font-weight: bold;
}

.menu ul li a:hover {
    background-color: #840000;
    backgroind-color: #08c;
    color: #ffffff;
}

.content {
    background-color: #FFFFFF;
    width: 750px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    float: right;
}

img.right {
    float: right;
    margin-bottom: 10px;
}

.newsbox {
    background-color: #EEEEEE;
    border: 1px solid #C2C2C2;
    padding: 10px;
    white-space: wrap;
    margin-bottom: 20px;
    float: left;
    width: 700px;
}

.content .leftbox {
    float: left;
    width: 500px;
}
.content .rightbox {
    float: right;
    width: 200px;
}

.content .rightbox .box {
    margin-top: 5px;
    border: 1px solid #C2C2C2;
    background-color: #FFFFCC;
    padding: 10px;
    white-space: wrap;
    width: 170px;
}

.content .leftbox .box, .content .box {
    background-color: #EEEEEE;
    border: 1px solid #C2C2C2;
    padding: 10px;
    white-space: wrap;
    width: 400px;
}

.content h1 {
    margin-top: 5px;
    color: #840000;
}

.content h2 {
    color: #404040;
}

.content h3 {
    margin-top: 5px;
}

code {
    background-color: #EEEEEE;
    border: 1px solid #C2C2C2;
    padding-left: 4px;
    padding-right: 4px;
}

.releases {
    font-family: mono;
    border-collapse: collapse;
}

.releases tr th {
    background: white;
    text-align: left;
}

.releases tr {
    border-top: 1px solid #C2C2C2;
    background-color: #EEEEEE;
}

.releases td {
    border-spacing: 0px;
    padding: 2px;
}

.releases td.link {
    width: 80%;
}

.mailinglist a {
    text-decoration: none;
}

.mailinglist img {
    float: left;
    margin-right: 10px;
    border: 0px;
}

#footer {
    width: 750px;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    text-align: center;
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: #0F0F0F;
}
