.menu
  %ul
    - items = [["index.html","Home"], ["start.html","Getting started"], ["news.html","News"]]
    - items += [["contact.html","Contact"], ["downloads.html","Downloads"]]
    - items.each do |item|
      %li
        %a{:href => item[0]}= item[1]
